<!-- <div class="h-20 w-full bg-[#373F68] rounded-xl flex items-center justify-between">

    <div class="ml-6 text-white">
      <span>icon</span>

      <span class="ml-4 j-h3">X suggestions</span>

      <span class="ml-9">Sort by: Most Upvotes</span>
    </div>

    <button class="mr-4 py-3 px-5 bg-[#C75AF6] font-bold text-white rounded-lg">+ Add Feedback</button>

</div> -->

<div class="h-[200px] bg-white p-6 rounded-[10px] flex flex-col justify-between">

  <!-- TITLE AND DESCRIPTION -->
  <div class="flex flex-col gap-2">
    <span class="j-b3 font-bold">Add tags for solutions</span>
    <span class="j-b3">Easier to search for solutions based on a specific stack.</span>
  </div>
  
  <!-- TAG ROW -->
  <div class="flex justify-start items-center">
    <div class="bg-bluewhite px-4 py-[6px] rounded-[10px]">
      <span class="j-b3 font-bold text-blue">Enhancement</span>
    </div>
  </div>

  <!-- UPVOTES AND COMMENT BUTTON -->
  <div class="flex justify-between items-center">

    <!-- UPVOTES -->
    <div>
      <button type="button" class="j-b3 font-bold rounded-[10px] bg-bluewhite pl-4 pr-3 py-[6px]">112</button>
    </div>

    <!-- COMMENT -->
    <button type="button" class="flex gap-1 items-center">
      <img src="assets/shared/icon-comments.svg" alt="Comment">
      <span class="j-b3 font-bold">2</span>
    </button>
  </div>

</div>